<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <img alt="image" class="rounded-circle nav-profile-image" src="/images/user-white.png"/>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">User name</span>

          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">

            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/login" target="_blank">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          2bS
        </div>
      </li>
      <li>
        <a href="/">
          <i class="fas fa-th-large"></i>
          <span class="nav-label">Auditorias</span>
        </a>
      </li>

      <li>
        <a href="/report">
          <i class="fas fa-paper-plane"></i>
          <span class="nav-label">Listados</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
