<div class="trytopnav">
  <div class="w3-bar" style="overflow:auto">
    <h1><%= title %></h1>
  </div>

</div>

<div id="container" style="display: inline-flex;flex-direction: row;flex-wrap: wrap;background-color: white;padding: 0px;border: gray 2px solid;width: 100%;">
<div class="url-container" style="width:100%; padding:5px;background-color:#5f5f7e;">
<div class="status-url" style="margin-top: 5px; margin-bottom: 5px;">


</div>
  <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Url</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
    </div>
</div>
  <!-- FORM DE PREGUNTAS -->
  <div id="textareacontainer" style="width:50%;">

      <div id="questionformwrapper" style="height:450px; width: 100%; padding: 10px;">

        <h3>Responde a las siguientes preguntas</h3>
        <form id="codeForm" autocomplete="off">
              <div class="container-question" style="border: 1px solid skyblue; border-radius: 4px;width: 100%;text-align: center;padding: 5px; margin-top: 10px;">
                <div class="form-group">
                    <label for="formGroupExampleInput">
                        ¿El inventario es el correcto?
                     </label>

                     <span>1</span>
                     <span>producto</span>
                </div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input value="SI" type="radio" name="options" id="option1" autocomplete="off" checked> Si
                </label>
                <label class="btn btn-secondary">
                  <input value="NO" type="radio" name="options" id="option2" autocomplete="off"> No
                </label>
                </div>
              </div>
              </form>



  <!--
            <% if(questions.length>0) { %>
              <% for(var i=0; i<questions.length;i++) { %>
                  <form id="codeForm" autocomplete="off">
                  <div class="container-question" style="border: 1px solid skyblue; border-radius: 4px;width: 100%;text-align: center;padding: 5px; margin-top: 10px;">
                    <div class="form-group">
                        <label for="formGroupExampleInput">
                            <%= questions[i].question%>
                         </label>

                         <span><%= i %></span>
                         <span><%= questions[i].tipo %></span>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input value="SI" type="radio" name="options" id="option1" autocomplete="off" checked> Si
                    </label>
                    <label class="btn btn-secondary">
                      <input value="NO" type="radio" name="options" id="option2" autocomplete="off"> No
                    </label>
                    </div>
                  </div>
                  </form>
              <% } %>
          <% } else { %>
            <div>No questions found.</div>
          <% } %> -->

       </div>

  </div>

  <!-- IFRAME -->
  <div id="iframecontainer" style="width:50%;">
    <div id="iframe">
      <div id="iframewrapper " style="height: 450px; width: 100%;">
        <iframe width="100%" height="100%" src="http://cata1og.com" ></iframe>
      </div>
    </div>
  </div>


</div>
